/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set body background color to white */
body {
    background-color: #fff; /* White color */
    font-family: Arial, sans-serif;
    color: #000; /* Black color for text */
}

/* Navigation Menu Styles */
nav {
    background-color: #fff; /* White background */
    padding: 10px;
    border-radius: 15px; /* Rounded corners */
}

nav ul {
    list-style: none;
    text-align: right; /* Align buttons to the right */
}

nav ul li {
    display: inline-block;
    margin: 0 10px; /* Add space between buttons */
}

nav ul li a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: #2980b9; /* Blue color for text */
    border-radius: 15px; /* Rounded corners for buttons */
    border: 1px solid #2980b9; /* Add border */
    transition: background-color 0.3s; /* Smooth transition on hover */
}

nav ul li a:hover {
    background-color: #2980b9; /* Blue background on hover */
    color: #fff; /* White color on hover */
}

/* Home Page Styles */
#home {
    padding: 50px 20px;
    text-align: center;
}

#home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* About Page Styles */
#about {
    padding: 50px 20px;
}

#about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Contact Page Styles */
#contact {
    padding: 50px 20px;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* skills Styles */

#skills {
    padding: 50px 20px;
    text-align: center;
}

#skills-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-1);
  }

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px 0;
}